.content-container {
    background-color: gold;
    display: block;
    border:none;
    padding: 0;
    margin:0;
    min-height: 80px;
    position: relative;
}
.text{
    padding-left: 30vh;
    padding-top: 3vh;
    font-weight: bold;
}
.classic{
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    left: 80vw;
    top: 30px;
}
.veg{
    position: absolute;
    font-size: 20px;
    left: 85vw;
    top: 30px;
}
.verybad{
    position: absolute;
    font-size: 20px;
    left: 89vw;
    top: 30px;
}

.burger{
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    width: 20vw;
    height: 30vh;
    border: 1px solid #e2e2e2;
    margin-right: 1vw;
    border-radius: 2%;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
}
.card-title{
    padding-left: 60px;
    font-weight: bold;
}
.card-text{
    padding-left: 25px;
}

.btn-primary{
    background-color: #3c8a1d;
    margin-left: 80px;

}

.col-4{
    padding-left: 60px;
    width: 20vw;
    margin-left: 50px;
    padding-bottom: 20px;
    padding-top: 30px;

}